/* css matics start */
.container {
	width: 50%;
	margin: 0 auto;
	padding: 50px;
	/*border: 1px solid;*/
	overflow: hidden;
}

.shadow {
width: 25%;
margin: 50px;
padding: 40px;
background: cyan;
/*border: 1px solid;*/
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
float: left;
}

.noise {
width: 25%;
margin: 50px;
padding: 40px;
background: lightyellow;
/*border: 1px solid;*/
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
float: left;
}

.radius {
width: 25%;
margin: 50px;
padding: 40px;
background: lightpink;
/*border: 1px solid;*/
border-radius: 0px 58px 10px 56px;
-moz-border-radius: 0px 58px 10px 56px;
-webkit-border-radius: 0px 58px 10px 56px;
border: 0px solid #000000;
float: left;
}

.gradient {
width: 25%;
margin: 50px;
padding: 40px;
/*border: 1px solid;*/


background: rgba(242,246,248,1);
background: -moz-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(72%, rgba(216,225,231,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
background: linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );

float: left;
}
/* css matics end */

/*css shape start*/
   #talkbubble {
   	margin: 200px auto;
   	padding: 20px;
      width: 25%;
      height: 100px;
      background: lightpink;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    #talkbubble:before {
    content: "";
    position: absolute;
    right: 16%;
    top: 137px;
    width: 0;
    height: 0;
    border-top: 50px solid lightpink;
    border-right: 60px solid transparent;
    }
/*css shape end*/